# Created by mumblebaj

# Name of the workflow
name: Build and Deploy API Documentation

on:
  push:
    branches: 
      - main
    paths:
      - 'docs/index.html'
      - 'docs/openapiEditor.html'
      - 'docs/xmlViewer.html'
      - 'js/xsdViewer.js'
      - 'js/yamlViewer.js'
      - 'js/openapiEditor.js'
      - 'js/xmlViewer.js'
      - 'css/styles.css'
      - 'css/openapiEditor.css'
      - 'js/template.js'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      # 1. Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Create build directory
      - name: Create build directory
        run: mkdir -p public

      # 3. Copy landing page into public
      - name: Copy landing page
        run: cp docs/index.html public/index.html

      # 4. Copy openapiEditor page into public
      - name: Copy openapiEditor page
        run: cp docs/openapiEditor.html public/openapiEditor.html

      # 5. Copy xmlViewer.html page into public
      - name: Copy xmlViewer.html page
        run: cp docs/xmlViewer.html public/xmlViewer.html

      # 6. Copy xsdViewer into public/js folder
      - name: Copy xsdViewer
        run: mkdir -p public/js && cp js/xsdViewer.js public/js/

      # 7. Copy yamlViewer into public/js folder
      - name: Copy yamlViewer
        run: cp js/yamlViewer.js public/js/

      # 8. Copy openapiEditor into public/js folder
      - name: Copy openapiEditor
        run: cp js/openapiEditor.js public/js/

      # 9. Copy xmlViewer.js into public/js folder
      - name: Copy xmlViewer.js
        run: cp js/xmlViewer.js public/js/
      
      # 10. Copy swagger-client into public/js folder
      - name: Copy swagger-client
        run: cp js/swagger-client.browser.min.js public/js/

      # 11. Copy template into public/js folder
      - name: Copy template
        run: cp js/template.js public/js/
      
      # 12. Copy styles to public/styles
      - name: Copy styles.css
        run: mkdir -p public/css && cp css/style.css public/css/

      # 13. Copy openapiEditor styles to public/styles
      - name: Copy openappiEditor.css
        run: cp css/openapiEditor.css public/css/

      # 14. Copy favicon to public
      - name: Copy svg Favicon
        run: cp docs/favicon.svg public/favicon.svg

      # 15. Copy favicon to public
      - name: Copy png Favicon
        run: cp docs/favicon.png public/favicon.png

      # 16. Copy CNAME
      - name: Copy CNAME
        run: cp docs/CNAME public/CNAME

      # 17. Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public